// Configuration file for sc-rna-10x pipeline 

params {

       /* 
       	  =====================
          SET THE FOLLOWING VARIABLES MANUALLY 
          =====================
       */

       	// Project ID (2021_XXX) or Run ID (date: e.g. YYMMDD-sc-rna-10x) 
	metaid = "xmetaidx"
	// Folder of experiment raw data
	run = "xrunx"
	// demux - set to 'n' if fastq already generated (they should then be in FQDIR)
	demux = 'xdemuxx'
	// bcl2fastq arguments - e.g. "--minimum-trimmed-read-length 20 --mask-short-adapter-reads 20" 
	bcl2fastq_arg = "xbcl2fastqargx" 
	// Sample Sheet (Must be in the specified runfolder!)
	ssheet = "xsamplesheetx"
	// index type
	index = "xindextypex"
	// Padding of target coordinates
	padding = "xpaddingx"

	// Set custom genome and target
	custom_genome = "xcustomgenomex"
	custom_target = "xcustomtargetx"
	

	// Base ctg-outdir: 
	nirvanadir = "/projects/fs1/shared/references/Nirvana/"
 	outdir = "/projects/fs1/nas-sync/ctg-delivery/exome/${metaid}/"
	runfolder = "/projects/fs1/nas-sync/upload/$run"
	basedir = "/projects/fs1/shared/ctg-projects/exome/${metaid}/"

	sheet = "${basedir}/${ssheet}"
	fqdir = "${outdir}fastq/"
	qcdir = "${outdir}qc/"
	fqcdir = "${outdir}qc/fastqc/"

	ctgqc = "/projects/fs1/shared/ctg-qc/exome/${metaid}"

}

// Define SLURM specs
process {
	executor='slurm'
	time='5h'
	cpus='8'

	withLabel:'dragen' {
	        queue='dragen'
		clusterOptions='--propagate=NONE'
		cpus='12'
		memory='210 GB'
	}
	withName:parsesheet {
	        container = '/projects/fs1/shared/ctg-containers/ngs-tools/ngs-tools.sif'
                time='1h'
		cpus='1'
	}
	withName:moveFastq {
	        time='1h'
		cpus='1'
	}
	withName:fastqc {
	        container = '/projects/fs1/shared/ctg-containers/ngs-tools/ngs-tools.sif'
                time='6h'
		cpus='10'
	}	
	withName:multiqc {
	        container = '/projects/fs1/shared/ctg-containers/ngs-tools/ngs-tools.sif'
                time='6h'
		cpus='5'
	}	
	withName:multiqc_run {
	        container = '/projects/fs1/shared/ctg-containers/ngs-tools/ngs-tools.sif'
                time='6h'
		cpus='5'
	}	
	withName:'demux' {
		queue='dragen'	   
		time='4h'
		clusterOptions='--propagate=NONE'
		memory='210 GB'
		cpus='12'
	}
	withName: dragen_stats {
		  container = '/projects/fs1/shared/ctg-containers/ngs-tools/ngs-tools.sif'
		  cpus='1'
		  time='1h'
	}
	withName:'dragen_align_vc' {
		queue='dragen'	   
		time='4h'
		memory='210 GB'
		clusterOptions='--propagate=NONE'
		cpus='12'
	}
	withName:'annotate' {
		queue='dragen'	   
		time='4h'
		memory='210 GB'
		clusterOptions='--propagate=NONE'
		cpus='12'
	}

}


singularity {
	    enabled = true
	    runOptions = '--bind /projects/fs1/'
}
